---
import { getCollection } from 'astro:content'
import { format, formatDistanceToNow } from 'date-fns'

import '@/styles/globals.css'

import Layout from '@/layouts/Main.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<Layout>
  <section>
    <h2 class="text-2xl font-semibold mb-6 text-black">Posts</h2>
    <ul class="space-y-8">
      {
        posts.map((post) => (
          <li class="pb-8 last:pb-0">
            <article>
              <h3 class="text-xl font-medium">
                <a
                  href={`/blog/${post.slug}/`}
                  class="text-black hover:underline font-display"
                >
                  {post.data.title}
                </a>
              </h3>
              <p class="text-sm text-gray-600 mb-2">
                <time datetime={post.data.pubDate.toDateString()}>
                  {format(post.data.pubDate, 'LLLL d, yyyy')}
                </time>
                ({formatDistanceToNow(post.data.pubDate, { addSuffix: true })})
              </p>

              <p class="text-gray-800 mt-3">{post.data.description}</p>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
