---
import type { CollectionEntry } from 'astro:content'
import { format, formatDistanceToNow } from 'date-fns'
import { Image } from 'astro:assets'

import Layout from '@/layouts/Main.astro'

import profilePic from '@/assets/images/iammarkps.jpg'

type Props = CollectionEntry<'blog'>['data']

const { title, pubDate } = Astro.props
---

<Layout>
  <article>
    <div class="mx-auto flex w-full flex-col justify-center">
      <article
        class="mx-auto mb-32 flex w-full max-w-2xl flex-col items-start justify-center">
        <h1 class="mb-4 font-display text-3xl font-bold text-black md:text-5xl">
          {title}
        </h1>
        <div
          class="flex w-full flex-col items-start justify-between font-display md:flex-row md:items-center">
          <div class="flex items-center">
            <div class="w-[48px] h-[48px]">
              <Image src={profilePic} alt="avatar" />
            </div>
            <p class="ml-2">iammarkps</p>
          </div>

          <p>
            <time datetime={pubDate.toDateString()}
              >{format(pubDate, 'LLLL d, yyyy')}</time
            >
            ({formatDistanceToNow(pubDate, { addSuffix: true })})
          </p>
        </div>
        <div class="prose mt-4 w-full max-w-none">
          <slot />
        </div>
      </article>
    </div>
  </article>
</Layout>
