---
import type { CollectionEntry } from 'astro:content'
import { format, formatDistanceToNow } from 'date-fns'

import Layout from '@/layouts/Main.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, pubDate } = Astro.props
---

<Layout>
  <article>
    <div class="mx-auto flex w-full flex-col justify-center">
      <article
        class="mx-auto mb-32 flex w-full max-w-2xl flex-col items-start justify-center"
      >
        <h1
          class="font-display scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
        >
          {title}
        </h1>

        <p class="leading-7 [&:not(:first-child)]:mt-6">
          <time datetime={pubDate.toDateString()}
            >{format(pubDate, 'LLLL d, yyyy')}</time
          >
          ({formatDistanceToNow(pubDate, { addSuffix: true })})
        </p>
        <div
          class="prose prose-neutral prose-h1:font-display prose-h2:font-display prose-h3:font-display prose-h4:font-display mt-4 w-full max-w-none dark:prose-invert"
        >
          <slot />
        </div>
      </article>
    </div>
  </article>
</Layout>
