---
import { ModeToggle } from '@/components/ModeToggle'
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

import '@fontsource-variable/inter'
import '@fontsource/ibm-plex-sans-thai/100.css'
import '@fontsource/ibm-plex-sans-thai/200.css'
import '@fontsource/ibm-plex-sans-thai/300.css'
import '@fontsource/ibm-plex-sans-thai/400.css'
import '@fontsource/ibm-plex-sans-thai/500.css'
import '@fontsource/ibm-plex-sans-thai/600.css'
import '@fontsource/ibm-plex-sans-thai/700.css'
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
  }
  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class'],
    })
  }
</script>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="flex min-h-screen flex-col items-center">
      <div class="w-full max-w-2xl px-4">
        <header class="py-8">
          <div class="container mx-auto px-4">
            <nav
              class="mx-auto flex flex-row items-center justify-between py-6 font-display"
            >
              <div class="flex">
                <h2
                  class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
                >
                  <a href="/" class="hover:underline">IAMMARKPS</a>
                </h2>
              </div>
              <div>
                <ModeToggle client:load />
              </div>
            </nav>
            <div>
              <p class="leading-7 [&:not(:first-child)]:mt-6">
                A blog by <a href="/about" class="font-bold hover:underline"
                  >Possawat Suksai</a
                >
              </p>
            </div>
          </div>
        </header>

        <main class="container mx-auto flex-grow px-4 py-8">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
